.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  overflow: hidden;
  article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    div {
      width: 400px;
      margin: 10px;
      background: rgba(34, 40, 49, 0.8);
      border: 1px solid white;
      border-radius: 15px;
      padding: 10px;
      h2 {
        font-weight: 300;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
      }
      p {
        margin-top: 15px;
        font-size: 1.2rem;
        @media (max-width: 500px) {
          font-size: 1.05rem;
        }
      }
    }
  }
}

.title {
  width: 100%;
  height: 85px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  @media (min-width: 600px) {
    font-size: 3rem;
  }
  @media (min-width: 1200px) {
    font-size: 4rem;
    height: 120px;
  }
}
