.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  article {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 34px 0;
    div {
      max-width: 1200px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
.item {
  height: 60px;
  background: rgba(34, 40, 49, 0.8);
  padding: 5px 10px;
  border-radius: 13px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid white;
  text-align: center;
  @media (min-width: 800px) {
    font-size: 1.7rem;
    height: 80px;
  }
  @media (min-width: 1100px) {
    font-size: 2rem;
  }
}
.title {
  width: 100%;
  height: 85px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  @media (min-width: 600px) {
    font-size: 3rem;
  }
  @media (min-width: 1200px) {
    font-size: 4rem;
    height: 120px;
  }
}
