.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 350px;
    color: white;
    margin-bottom: 50px;
    @media (min-width: 600px) {
      margin-right: 20px;
      margin-bottom: 0;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
    input,
    textarea {
      color: white;
      width: 250px;
      height: 45px;
      outline: none;
      padding-left: 9px;
      margin: 10px 0;
      background: transparent;
      border: 1px solid white;
      &::placeholder {
        color: rgb(223, 223, 223);
      }
      @media (min-width: 600px) {
        width: 300px;
      }
    }
    textarea {
      padding-top: 9px;
      height: 150px;
    }
    button {
      cursor: pointer;
      width: 180px;
      height: 40px;
      background: transparent;
      border: 1px solid white;

      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 15px;
      color: white;
      background: repeating-linear-gradient(white 0 8px, transparent 0 16px)
          left / var(--d, 0) 100% no-repeat,
        repeating-linear-gradient(transparent 0 8px, white 0 16px)
          right/var(--d, 0) 100% no-repeat;

      @media (hover: hover) and (pointer: fine) {
        transition: background 0.5s;
        will-change: background;
        &:hover {
          --d: 100%;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}
.socialWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  p {
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }
  a {
    cursor: pointer;
    width: 220px;
    text-align: center;
    padding: 2px;
    height: 40px;
    margin: 10px 0;
    font-size: 1.3rem;

    background: linear-gradient(currentColor 0 0) left var(--p, 50%) bottom 0 /
        var(--d, 20px) 3px no-repeat,
      linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /
        var(--d, 20px) 3px no-repeat;
    transition: 0.3s, background-position 0s;
    will-change: background-position;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --d: 100%;
        --p: 100%;
        transition: 0.3s, background-size 0.3s 0.3s;
      }
    }
  }
}
.modal {
  position: fixed;
  top: 80px;
  left: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%);
  transition: transform 0.3s ease-in-out;
  padding: 15px 15px;
  max-width: 90vw;
  min-width: 300px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  z-index: 999;
}
