.nav {
  position: fixed;
  background-color: #111112d0;
  top: 0;
  width: 100%;
  height: 60px;
  left: 0;
  z-index: 990;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  button {
    background-color: transparent;
    border: 0;
    color: white;
    outline: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    span {
      width: 30px;
      height: 30px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
  }
}
.socialWrapper {
  height: 35px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
.icon {
  position: relative;
  width: 25px;
  height: 100%;
  overflow: visible;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: translateY(2px) scale(1.05);
  }
}

.insta {
  @extend .icon;
  width: 22px;
  height: 100%;
  overflow: visible;
}

.langBtn {
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: orange;
  width: 250px;
  height: 100%;
  color: black;
  padding-left: 35px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    position: absolute;
    top: 20px;
    left: 35px;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
  }
}
.navItem {
  color: black;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 7px;
  width: 100%;
  outline: none;
  &:before {
    content: " ";
    transition: transform 0.1s ease-in-out;
    position: absolute;
    top: 100%;
    left: -10px;
    width: 50px;
    height: 2px;
    background-color: white;
    transform: translateX(-200px);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &:before {
        transition: transform 0.1s ease-in-out;

        transform: translateX(0);
      }
    }
  }
}
