.wrapper {
  width: 100%;
  height: 700px;
  background-color: white;
  color: black;
}
.title {
  width: 100%;
  background-color: white;
  color: rgb(61, 61, 61);
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  grid-column: 1/2;
  grid-row: 1/4;
}
.item {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-auto-rows: 60px 1fr 100px;
  padding: 50px 200px;
  grid-column-gap: 30px;
  justify-content: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  button {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 1.6rem;
    &:hover {
      color: white;
      background-color: black;
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: normal;
  }
}
