.logoWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  z-index: 0;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
}
.canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.main {
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 20;
  background: transparent;
  color: white;
  width: 100%;
}
